/* GLOBAL */
.wrapper-50 {
  width: 50%;
  margin: 0 auto;
}
.line-height {
  line-height: 40px;
}
.padding-60 {
  padding: 60px 0;
}
.padding-30 {
  padding: 30px 0;
}
.padding-dx-2 {
  padding-right: 2%;
}
.margin-auto {
  margin: auto;
}
.margin-dx-2 {
  margin-right: 2%;
}
.margin-dx-5 {
  margin-right: 5%;
}
.margin-sx-5 {
  margin-left: 5%;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
  border-bottom: 1px solid white;
  width: 100%;
}
.margin-bottom-5-special {
  margin-bottom: 5px;
  width: 100%;
}
.rb-height-200 {
  height: 200px;
}

/* /GLOBAL */

/* TEXT */
.text-white {
  color: #fff;
}
.text-right {
  text-align: right;
}
h2 {
  font-weight: 700;
  font-size: 30px;
}
h3 {
  font-size: 34px;
  font-weight: 700;
}
.font-24 {
  font-size: 24px;
}
/* /TEXT */

/* BOTTONI */
.rb-btn-default {
  font-size: larger;
  color: #006aff;
}
.rb-btn-block {
  background-color: #579aff;
}
/* /BOTTONI */

/* CERCHIETTI */
.far.fa-circle,
.fas.fa-circle {
  color: #006aff;
  margin: 2% auto;
}
.fa-circle:before {
  content: "\f111";
  padding: 4px;
}
/* /CERCHIETTI */

/* HEADER-NAV */
header .rb-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}
header img {
  width: 150px;
  margin-top: 5px;
}
header ul li {
  list-style: none;
  display: inline-block;
  color: black;
  cursor: pointer;
}
header .rb-nav .rb-btn-default {
  border: 1px solid #006aff;
}
header .glyphicon-menu-hamburger {
  padding: 10px 14px;
  color: #006aff;
  background-color: #f3f5f9;
  border: 1px solid gray;
  margin-top: 5px;
}
/* /HEADER-NAV */

/* MAIN */
/* SEZIONE 1 */
#sezione-1 {
  margin-top: 50px;
  background-image: url(../assets/img/bg-banner-home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.box-sx-section1 h1 {
  font-size: 64px;
  font-weight: 700;
}
.box-sx-section1 p {
  color: #b0c4ff;
  font-weight: 400;
  font-size: 23px;
}
.box-dx-section1 {
  background-color: #fff;
  padding: 30px 30px;
  border-radius: 5px;
}
.box-dx-section1 span {
  color: #006aff;
}
.box-dx-section1 .rb-btn-default {
  width: 100%;
  color: grey;
  box-shadow: 1px 1px 0px 0px #7a7b7c;
}
.box-dx-section1 img {
  width: 25px;
}
.box-dx-section1 .row span {
  padding-right: 77px;
  color: gray;
}
.box-dx-section1 p {
  color: #031c4e;
  font-weight: 700;
  font-size: unset;
}
.box-dx-section1 a {
  text-decoration: underline;
  color: #006aff;
}

/* /SEZIONE 1 */

/* SEZIONE 2 */
.rb-bg-grey {
  background-color: #f3f5f9;
}
#sezione-2 .container .row .col-lg-2 {
  padding: 0;
}
#sezione-2 h4 {
  color: #78839d;
  font-weight: 500;
}
#sezione-2 a {
  color: #006aff;
  font-weight: 500;
}
#sezione-2 li {
  list-style: none;
  display: inline;
  width: calc(100% / 6);
}

#sezione-2 li img {
  width: 16%;
}
/* /SEZIONE 2 */

/* SEZIONE 3 */
#sezione-3 li {
  list-style: none;
  border-left: 1px solid rgb(121, 117, 117);
  padding-left: 15px;
  font-weight: 500;
}
#sezione-3 h3,
h5 {
  color: #031c4e;
  font-weight: 700;
}
#sezione-3 li,
p {
  color: #78839d;
  font-size: 20px;
}

/* /SEZIONE 3 */

/* SEZIONE 4 */
#sezione-4 h1,
h3,
h5 {
  color: #031c4e;
  font-weight: 700;
}
#sezione-4 p {
  font-size: 24px;
  font-weight: 500;
}
/* /SEZIONE 4 */

/* SEZIONE 5 */
#sezione-3 h3,
h5 {
  color: #031c4e;
  font-weight: 700;
}
#sezione-5 a {
  color: #006aff;
}
/* /SEZIONE 5 */

/* SEZIONE 6 */
.bg-sfumato {
  background-image: linear-gradient(#0047c5, #001e9a);
}
#sezione-6 h3 {
  color: #fff;
}
#sezione-6 .row .col-xs-3:first-child {
  color: #fff;
}
#sezione-6 .row .col-xs-3:last-child {
  color: #00d3d1;
  text-align: right;
}
#sezione-6 .row .col-xs-6 {
  color: #b9c5e8;
}
/* /SEZIONE 6 */

/* SEZIONE 7 */
.prova {
  width: 50%;
  background-color: white;
}
/* /SEZIONE 7 */
/*/MAIN */

/* FOOTER */
.rb-bg-footer {
  background-color: #031c4e;
}
footer li {
  text-align: left;
  list-style: none;
  color: #a0a8b9;
}

footer li h5 {
  color: #fff;
}
.rb-bg-footer .container .row .col-xs-12.col-lg-4.text-left h5,
i {
  color: #a0a8b9;
}
footer span {
  color: #a0a8b9;
  font-size: 16px;
}
footer h6 {
  color: #576685;
}

@media all and (max-width: 480px) {
  #sezione-3 .container .row .col-xs-12.text-center.media-middle.padding-60 p {
    font-size: 26px;
  }
}
